html, body {width: 100%; height: 100%; margin: 0px;}
body {background-color:#ffffff; margin:0px; padding:0px; font-family:arial;}
form {margin:0px; padding:0;}


.main {
    font-family: Arial;
    font-size: 12px;
    color: rgb(102, 102, 102);
    margin: auto;
    width: 348px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    position: relative;
}
select.lang {width: 80px; /*font-size: 9pt;*/}
.logos2 {float:left; width: 200px;}
.inner {padding-bottom: 5px;}
.center {text-align: center;/*font-size:75%*/;margin:100px 0;}
.title {/*color:#02346c;  font-size:125%;*/ font-weight:bold; padding:3px;}
div.body {padding:2px;}
div.buttons {height: 25px;margin-top: 5px;}
input.button {background-color:#02346c;color:#ffffff;/*border:2px solid #aaaaaa;*/font-weight:bold;
    font-size: 11px;
    border: 1px solid #aaaaaa;
    border-bottom: 2px solid #aaaaaa;
    min-width:76px;
    padding: 5px;
    border-radius: 8px;}
.button_ok {margin-right: 5px;}
a.button {text-decoration:none;padding:2px 30px 3px 30px;}
.buttoncontainer {margin:4px 0;}
div.formbutton {margin-top:2px; padding-top:3px; border-top:1px dashed gray;text-align:right; /*font-size:75%;*/ font-weight:bold;}
.formbutton table {width: 100%; border:0px; border-collapse:collapse;}
.formbutton table td {padding:0px;}
.message {margin-top:5px;padding:10px 5px;border-top:1px dashed gray;/*font-size:75%;*/}
.formerror {margin-bottom:5px;padding:10px 5px;border-bottom:1px dashed gray;/*font-size:75%;*/color:#ff0000}

.example {font-size:10px;font-weight:bold;}
.param, .paramerror {width: 50%; font-weight:bold;}
td.param {
    padding-right: 5px;
    text-align: right;
    vertical-align: top;
}
.remark {font-size:100%;font-weight:bold;color:#a0a0a0}

.paramerror {color:red;}
.price {font-weight:bold;color:#a00000;/*font-size:75%;*/}
.line {background:url(line.gif) repeat-x;}
.red {color:#A00000;}
.green {color:#00A000;}
a {color: rgb(102, 102, 102);font-weight:bold; /*color:#ABA05F;font-size:75%;*/}
a:hover {color: rgb(102, 102, 102);}
a:visited {color: rgb(102, 102, 102);}
.underlined-text {color:#cc0000;border-bottom: 1px solid #cc0000;}

.debug {width:800px;height:200px;}
.text {width:50%;}
.left {text-align: left;}
table {width:100%;}

#error {
    color:#CC0000;
    /*font-size:80%;*/
    font-weight:bold;
    padding:5px;
}

#recoverPassword{
    border: 1px solid gray;
    background-color: rgb(224, 224, 224);
    padding: 10px;
    /*font-size: 80%;*/
}
.recoverPassword {
    font-size: 10px;
}

#device-no-active-conainer {
    color:#ff0000;
}

.offer {
    margin-left: 5px;
    border-left: 3px solid #cc0000;
    padding-left: 5px;
}

.offer a {
    font-size: 100%;
    font-weight: normal;
}

#offerCB {
    width: 18px;
}

.strong {
    font-weight: bold;
}